# poetry related
export POETRY_VIRTUALENVS_IN_PROJECT=true

export GIT_COMMIT=$(git log -1 --format=%h)
export GIT_FULL_COMMIT=$(git rev-list -1 HEAD)

watch_file .git/HEAD
watch_file .git/refs/heads/$(git branch --show-current)
