# Common
**/*~
*.bak
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
__pycache__

# VSCode
.vscode
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
!/.vscode/settings.json

# Project specific
*.pid
*.pyc
output
outputgzip
cache
attila
.venv
seo_report.html
.cache
.ruff_cache

# Obsidian
.obsidian/workspace.json
