[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
  ignore = all
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes
  ignore = all