[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.9"

[dev-packages]
pytest = "==6.1.0"

[packages]
pelican = "==4.8.0"
markdown = "==3.4.3"
ghp-import = "==2.1.0"
invoke = "==2.0.0"
awscli = "==1.27.113"
pysvg = "==0.2.2"
requests = "==2.28.2"
webassets = "==2.0"
pillow = "==9.5.0"
jsmin = "==3.0.1"
cssmin = "==0.2.0"
beautifulsoup4 = "==4.12.2"
pelican-seo = "==1.2.2"
pelican-neighbors = "==1.2.0"
pelican-related-posts = "==1.0.0"
pelican-sitemap = "==1.0.2"
